<p style="color: green"><%= notice %></p>

<h2>Username: </h2>
<p>
  <%= @user.username %>
</p>

<div id="memberships">
  <p><strong>memberships:</strong></p>
  <% @user.beer_clubs.each do |beer_club| %>
    <div id="<%= dom_id beer_club %>">
      <p>
        <%= link_to beer_club.name, beer_club %>
      </p>
    </div>
  <% end %>
</div>

<% if @user.ratings.empty? %>
  User has not given any ratings yet.
<% else %>
  <%= @user.average_rating(@user.username) %> <br/>
  <%= @user.username %>'s favorite style: <%= @user.favorite_style %> <br/>
  <%= @user.username %>'s favorite brewery: <%= @user.favorite_brewery %>
<% end %>

<div id="ratings">
  <p><strong>Ratings:</strong></p>
  <% @user.ratings.each do |rating| %>
    <div id="<%= dom_id rating %>">
      <p>
        <%= rating.beer.name %>
        <%= rating.score %>
        <% if @user == current_user %>
          <%= button_to 'delete', rating, method: :delete, form: { style: 'display:inline-block;',  data: { 'turbo-confirm': 'Are you sure?' } } %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>

  <%= link_to "Back to users", users_path %><br>

  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %> 
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>

</div>
