<div id="<%= dom_id brewery %>">
  <h2>
    <strong>Name:</strong>
    <%= brewery.name %>
  </h2>

  <p>
    <strong>Year:</strong>
    <i> <%= "Established in #{brewery.year}" %></i>
  </p>

  <p>Beers count: <%= @brewery.beers.count %></p>

  <p>
    <% brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </p>

  <% if brewery.ratings? %>
    <%= brewery.average_rating(brewery.name) %>
  <% else %>
    Brewery has not yet been rated!
  <% end %>
</div>
