<h1>Beers</h1>

<div id="beers">
  <table class="table table-hover table-striped">
    <thead>
      <th> Name </th><th> Style </th><th> Brewery </th><th> Rating </th>
    </thead>
    <tbody>
      <% @beers.each do |beer| %>
        <tr>
          <td> <%= link_to beer.name, beer %> </td>
          <td> <%= link_to beer.style, beer %> </td>
          <td> <%= link_to beer.brewery.name, beer %> </td>
          <td> <%= beer.average_rating %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>

<%= link_to "List of breweries", breweries_path %><br/>
<%= link_to "New beer", new_beer_path if current_user %>