<h1>Beer places search</h1>

<%= form_with url: places_path, method: :post do |form| %>
  city <%= form.text_field :city %>
  <%= form.submit "Search", class:"btn btn-primary" %>
<% end %>

<% if @weather %>
  The current beer weather in <%= @weather[:city] %>
  <%= @weather[:temperature] %> celsius <br/>
  <%= image_tag(@weather[:icons][0], :alt => "image") %> <br/>
  Wind: <%= @weather[:wind_speed] %>, direction <%= @weather[:wind_direction] %>
<% end %>

<% if @places %>
  <table>
    <thead>
      <% Place.rendered_fields.each do |field| %>
        <th><%= field %></th>
      <% end %>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <% Place.rendered_fields.each do |field| %>
          <% if field == :name %>
            <% id = place.id %>
            <td><%= link_to place.name, place_path(id) %></td>
          <% else %>
            <td><%= place.send(field) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>